<div class="patterns__container">
  <div class="patterns__intro">
    <h1 class="patterns__title">Learn the 7 scale patterns on the guitar</h1>
    <h1 class="patterns__subtitle">The 3 note per string method</h1>
  </div>
<hr class="patterns__divider" />
</div>



<div class="patterns__container">

  Ionian pattern (root of major scale)
  G Ionion (major)
</div>

<app-fretboard [fretMap]="gIonianFretMap" [stringNamesAreCaseSensitive]="true"></app-fretboard>

<div class="patterns__container">

  Dorian pattern (2nd of major scale)
  A Dorian
</div>

<app-fretboard [fretMap]="aDorianFretMap" [stringNamesAreCaseSensitive]="true"></app-fretboard>

<div class="patterns__container">

  Phrygian pattern (3rd of major scale)
  B Phrygian
</div>

<app-fretboard [fretMap]="bPhrygianFretMap" [stringNamesAreCaseSensitive]="true"></app-fretboard>
