Ionian pattern (root of major scale)
G Ionion (major)

<app-fretonator [fretMap]="gIonianFretMap"
                [showInfoCard]="false"
                [fretMapIsCaseSensitive]="true"></app-fretonator>


Dorian pattern (2nd of major scale)
A Dorian

<app-fretonator [fretMap]="aDorianFretMap"
                [showInfoCard]="false"
                [fretMapIsCaseSensitive]="true"></app-fretonator>

Phrygian pattern (3rd of major scale)
B Phrygian

<app-fretonator [fretMap]="bPhrygianFretMap"
                [showInfoCard]="false"
                [fretMapIsCaseSensitive]="true"></app-fretonator>
