<app-stripe-banner></app-stripe-banner>

<div class="patterns__container">
  <div class="patterns__intro">
    <h1 class="patterns__title">Learn the 7 scale patterns on the guitar</h1>
    <h1 class="patterns__subtitle">The 3 note per string method</h1>
  </div>
</div>

<div class="patterns__container">
  <div class="chips">
    <button *ngFor="let mode of modeSelectors"
            class="chip"
            [class.chip--active]="selectedMode === mode"
            (click)="setPattern(mode)">
      {{mode | titlecase}}</button>
  </div>
</div>

<app-fretboard
  [fretMap]="selectedFretMap"
  [stringNamesAreCaseSensitive]="true"
  [loadExpanded]="true"></app-fretboard>
