@import "../../../../styles/vars";
@import "../../../../styles/functions";
@import "../../../../styles/mixins";
@import "../../../../styles/typography";

$note-height: 36;

.fretboard__container {
  margin-top: pxToRem($grid-unit * 1);
  max-width: $fretonator_max_width;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0;
  padding-left: pxToRem($grid-unit * 5);
  padding-bottom: pxToRem($grid-unit * 4);
  padding-top: pxToRem($grid-unit * 7);
  overflow-x: auto;
  transition: max-width 0.09s ease-in-out;

  &.fretboard__wide {
    max-width: $fretonator_max_width-wide;
  }

  &.fretboard__flip {
    padding-left: 0;
    padding-right: pxToRem($grid-unit * 5);
    direction: rtl;
  }
}

.fretboard__help {
  text-align: center;
  padding-top: pxToRem($grid-unit * 2);

  &[data-fret="3"],
  &[data-fret="5"],
  &[data-fret="7"],
  &[data-fret="9"],
  &[data-fret="12"],
  &[data-fret="15"],
  &[data-fret="17"],
  &[data-fret="19"],
  &[data-fret="21"],
  &[data-fret="24"] {
    &:after {
      content: attr(data-fret);
      font-family: var(--font-family-main);
      font-style: italic;
      font-weight: var(--font-weight-bold);
      color: var(--fretboard-help-text-color);
      font-size: pxToRem(14);
      opacity: 0.5;
    }
  }
}

.fretboard__24 {
  .fretboard__cell {
    &:nth-child(-n + 13) {
      height: unset;

      &:before {
        bottom: unset;
        top: unset;
      }
    }

    &:nth-last-child(-n + 13) {
      height: unset;

      &:before {
        bottom: unset;
      }
    }

    &:nth-child(13n + 1) {
      &:before {
        display: unset;
      }
    }

    &:nth-child(-n + 25) {
      height: calc(var(--string-height-base) / 2);

      &:before {
        bottom: unset;
        top: 0;
      }
    }

    &:nth-last-child(-n + 25) {
      height: calc(var(--string-height-base) / 2);

      &:before {
        bottom: 0;
      }
    }

    &:nth-child(25n + 1) {
      &:before {
        display: none;
      }
    }
  }

  .fretboard__cell--string {
    &:nth-child(-n + 13):after {
      transform: unset;
    }

    &:nth-last-child(-n + 13):after {
      bottom: unset;
      top: unset;
      transform: unset;
    }

    &:nth-child(-n + 25):after {
      transform: translate(-50%, 6px);
    }

    &:nth-last-child(-n + 25):after {
      bottom: 0;
      top: unset;
      transform: translate(-50%, calc(50% - 1px));
    }
  }

  .fretboard__cell--selected {
    &:nth-child(-n + 13):after {
      transform: unset;
    }

    &:nth-last-child(-n + 13):after {
      bottom: unset;
      top: unset;
      transform: unset;
    }

    &:nth-child(-n + 25):after {
      transform: translate(-50%, 6px);
    }

    &:nth-last-child(-n + 25):after {
      bottom: 0;
      top: unset;
      transform: translate(-50%, calc(50% - 1px));
    }
  }

  &.fretboard__leftHanded {
    .fretboard__cell--string {
      &:nth-last-child(-n + 25):after {
        transform: translate(50%, calc(50% - 1px));
      }
    }
  }
}

.fretboard {
  display: grid;
  grid-template-columns: 32px repeat(12, minmax(50px, 1fr));
  padding-top: pxToRem($grid-unit * 3);
  padding-bottom: pxToRem($grid-unit * 3);

  &.fretboard__24 {
    grid-template-columns: 32px repeat(24, minmax(50px, 1fr));
  }
}

.fretboard__cell {
  position: relative;
  border-right: var(--fret-width-base) solid var(--fret-color);
  height: var(--string-height-base);
  pointer-events: none;

  &:before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: calc(var(--fret-width-base) * -1);
    right: calc(var(--fret-width-base) * -1);
    border-bottom: var(--border-width-base) solid var(--string-color);
    border-top: var(--border-width-base) solid var(--string-color);
  }

  &:after {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    transform: translateY(calc(50% - 1px));
    cursor: pointer;
  }

  &:nth-child(-n + 13) {
    height: calc(var(--string-height-base) / 2);

    &:before {
      bottom: unset;
      top: 0;
    }
  }

  &:nth-last-child(-n + 13) {
    height: calc(var(--string-height-base) / 2);

    &:before {
      bottom: 0;
    }
  }

  &:nth-child(13n + 1) {
    &:before {
      display: none;
    }
  }

  &[data-string-number="3"][data-fret="3"],
  &[data-string-number="3"][data-fret="5"],
  &[data-string-number="3"][data-fret="7"],
  &[data-string-number="3"][data-fret="9"],
  &[data-string-number="3"][data-fret="15"],
  &[data-string-number="3"][data-fret="17"],
  &[data-string-number="3"][data-fret="19"],
  &[data-string-number="3"][data-fret="21"],
  &[data-string-number="2"][data-fret="12"],
  &[data-string-number="4"][data-fret="12"] {
    background-image: var(--fret-marker-url);
    background-repeat: no-repeat;
    background-position: center calc(var(--string-height-base) - 15px);
    background-size: 30px 30px;
  }

  &[data-string-number="4"][data-fret="3"],
  &[data-string-number="4"][data-fret="5"],
  &[data-string-number="4"][data-fret="7"],
  &[data-string-number="4"][data-fret="9"],
  &[data-string-number="4"][data-fret="15"],
  &[data-string-number="4"][data-fret="17"],
  &[data-string-number="4"][data-fret="19"],
  &[data-string-number="4"][data-fret="21"],
  &[data-string-number="3"][data-fret="12"],
  &[data-string-number="5"][data-fret="12"] {
    background-image: var(--fret-marker-url);
    background-repeat: no-repeat;
    background-position: center -15px;
    background-size: 30px 30px;
  }
}

.fretboard__cell--selected {
  pointer-events: all;

  &:after {
    content: attr(data-display-note);
    height: pxToRem($note-height);
    width: pxToRem($note-height);
    line-height: pxToRem($note-height);
    left: 50%;
    right: unset;
    box-sizing: border-box;
    border-radius: 50%;
    transform: translate(-50%, 50%);
    background-color: var(--note-background);
    color: var(--note-color);
    text-align: center;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-main);
    font-size: pxToRem(12);
    transition-duration: 0.1s;
    transition-property: line-height, height, width, opacity;
    transition-timing-function: ease-in-out;
    direction: ltr;
  }

  &.learn__theme {
    &:after {
      background-color: var(--note-background-learn-theme);
    }

    &[data-degree="ghost"] {
      &:after {
        background-color: var(--note-bg-ghost);
      }
    }
  }

  &:nth-child(-n + 13):after {
    transform: translate(-50%, 6px);
  }

  &:nth-last-child(-n + 13):after {
    bottom: 0;
    top: unset;
    transform: translate(-50%, calc(50% - 1px));
  }

  .fretboard__marker {
    text-align: center;
    font-size: 80px;
  }

  &[data-degree="ghost"] {
    &:after {
      background-color: var(--note-bg-ghost);
    }
  }

  &[data-degree="tonic"][data-highlight="true"] {
    &:after {
      background-color: var(--note-bg-tonic);
      color: var(--note-color-tonic);
    }
  }

  &[data-degree="mediant"][data-highlight="true"] {
    &:after {
      background-color: var(--note-bg-mediant);
      color: var(--note-color-mediant);
    }
  }

  &[data-degree="dominant"][data-highlight="true"] {
    &:after {
      background-color: var(--note-bg-dominant);
      color: var(--note-color-dominant);
    }
  }

  &[data-mode="majorPentatonic"],
  &[data-mode="minorPentatonic"] {
    &:after {
      background-color: var(--note-background) !important;
      color: var(--note-color) !important;
    }
  }
}

.fretboard__cell--string {
  border-right: pxToRem(6) solid var(--nut-color);

  &:after {
    content: attr(data-string-name);
    height: pxToRem($note-height);
    width: pxToRem($note-height);
    left: 0;
    right: unset;
    box-sizing: border-box;
    border-radius: 50%;
    transform: translate(-50%, 50%);
    color: var(--string-color);
    line-height: pxToRem($note-height);
    text-align: center;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-main);
    font-size: pxToRem(16);
  }

  &:nth-child(-n + 13):after {
    transform: translate(-50%, 6px);
  }

  &:nth-last-child(-n + 13):after {
    bottom: 0;
    top: unset;
    transform: translate(-50%, calc(50% - 1px));
  }

  &.fretboard__cell--selected {
    &:after {
      content: attr(data-display-note);
      color: var(--note-color);
      font-size: pxToRem(12);
    }

    &[data-degree="ghost"] {
      &:after {
        background-color: var(--note-bg-ghost);
      }
    }

    &[data-degree="tonic"][data-highlight="true"] {
      &:after {
        background-color: var(--note-bg-tonic);
        color: var(--note-color-tonic);
      }
    }

    &[data-degree="mediant"][data-highlight="true"] {
      &:after {
        background-color: var(--note-bg-mediant);
        color: var(--note-color-mediant);
      }
    }

    &[data-degree="dominant"][data-highlight="true"] {
      &:after {
        background-color: var(--note-bg-dominant);
        color: var(--note-color-dominant);
      }
    }
  }
}

.arrowHint {
  position: relative;
  display: block;
  margin-top: pxToRem($grid-unit * 4);

  @media screen and (min-width: 1324px) {
    display: none;
  }
}

.arrowHint__arrow {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;

  &:before,
  &:after {
    content: var(--fretboard-arrow-svg);
  }


  &.fretboard__flip {
    right: unset;
    left: 0;
    transform: rotate(180deg);
  }
}

.fretonator__playCta {
  @include font_bodyCopy;
  font-size: pxToRem(12);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: pxToRem($grid-unit * 2);
  color: var(--fretboard-play-cta-color);
  line-height: 1;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $screen-sm) {
    font-size: pxToRem(14);
  }
}

.fretonator__playCtaIcon {
  display: flex;
  height: pxToRem($grid-unit * 2);
  width: pxToRem($grid-unit * 2);
  margin-right: pxToRem($grid-unit);
}

.fretboard__leftHanded {
  .fretboard__cell {
    border-left: var(--fret-width-base) solid var(--fret-color);
    border-right: unset;
  }

  .fretboard__cell--string {
    border-left: pxToRem(6) solid var(--nut-color);
    border-right: unset;

    &:after {
      transform: translate(50%, 50%);
    }

    &:nth-child(-n + 13):after {
      transform: translate(50%, 6px);
    }

    &:nth-last-child(-n + 13):after {
      bottom: 0;
      top: unset;
      transform: translate(50%, calc(50% - 1px));
    }
  }
}

.controlPanel {
  @include content_wrapper();
  max-width: $screen-med;
  margin-top: pxToRem($grid-unit * 2);
  margin-bottom: pxToRem($grid-unit * 8);
  background-color: var(--background-color-light);
  padding: pxToRem($grid-unit * 4);
  border-radius: pxToRem($grid-unit * 4);
  box-shadow: 0 pxToRem(1) pxToRem(3) rgba(26, 26, 26, 0.12), 0 pxToRem(1) pxToRem(2) rgba(26, 26, 26, 0.24);
}

.controlPanel__row {
  display: flex;
  flex-direction: column;
  margin-bottom: pxToRem($grid-unit * 4);
  justify-content: center;

  @media screen and (min-width: $screen-med) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.controlPanel__column {
  display: flex;
  flex-direction: column;
  margin-bottom: pxToRem($grid-unit * 8);
  justify-content: center;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.controlPanel__title {
  @include info_container_title;
  text-align: center;
}

.controlPanel__title--right {
  text-align: center;
  @media screen and (min-width: $screen-med) {
    text-align: right;
  }
}

.button__group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: pxToRem($grid-unit * 2);

  &:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (min-width: $screen-med) {
    justify-content: flex-start;
  }
}

.button__group--right {
  @media screen and (min-width: $screen-med) {
    justify-content: flex-end;
  }
}

.fretboard__tuningGroup {
  margin-left: auto;
  margin-right: auto;
  max-width: $screen-med;
  text-align: center;
}

.fretboard__changeTuning {
  @include chip_button_base;
  margin-left: pxToRem($grid-unit);
  margin-right: pxToRem($grid-unit);
  margin-bottom: pxToRem($grid-unit);
  border-color: var(--fretboard-toggle-button-border-color);
}

.tuning--active {
  background-color: var(--chip-background-color-active);
  color: var(--chip-foreground-color-active);
  border-color: var(--chip-border-color-active);
}

.fretboard__toggleButton {
  @include chip_button_base();
  padding: pxToRem($grid-unit * 1.5);
  border-color: var(--fretboard-toggle-button-border-color);
}

.fretboard__toggleButton--active {
  background-color: var(--chip-background-color-active);
  color: var(--chip-foreground-color-active);
}

.fretboard__toggleButton:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: calc(var(--border-width-button) / 2);
}

.fretboard__toggleButton:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: calc(var(--border-width-button) / 2);
}
