<ng-template #string let-stringName="stringName" let-string="string">
  <ng-container *ngFor="let fret of frets">
    <div
      class="fretboard__cell"
      [class.learn__theme]="configuration === 'learn'"
      [class.fretboard__cell--string]="fret === 0"
      [class.fretboard__cell--selected]="fretMap | getFretFromFretMap: stringName:fret:stringNamesAreCaseSensitive"
      [attr.data-string-name]="fret === 0 ? stringName : null"
      [attr.data-string]="string"
      [attr.data-fret]="fret"
      [attr.data-degree]="(fretMap | getFretFromFretMap: stringName:fret:stringNamesAreCaseSensitive)?.degree"
      [attr.data-display-note]="(fretMap | getFretFromFretMap: stringName:fret:stringNamesAreCaseSensitive)?.displayName"
      [attr.data-mode]="mode"
      [attr.data-highlight]="highlightedDegrees.has((fretMap | getFretFromFretMap: stringName:fret:stringNamesAreCaseSensitive)?.degree)"
      (click)="playbackService.playNote(stringName, fret)"
    ></div>
  </ng-container>
</ng-template>

<ng-template #fretboardHelp>
  <ng-container *ngFor="let fret of frets">
    <span class="fretboard__help" [attr.data-fret]="fret"></span>
  </ng-container>
</ng-template>

<div class="arrowHint">
  <span class="arrowHint__arrow"
        [class.fretboard__flip]="orientation === Orientations.left"></span>
</div>

<div class="fretboard__container"
     [class.fretboard__flip]="orientation === Orientations.left"
     [class.fretboard__wide]="fretMode === FretModes.twentyFour">


  <div class="fretboard"
       [class.fretboard__leftHanded]="orientation === Orientations.left"
       [class.fretboard__24]="fretMode === FretModes.twentyFour">

    <ng-container
      [ngTemplateOutlet]="string"
      [ngTemplateOutletContext]="{ stringName: 'e', string: 'E' }"
    ></ng-container>

    <ng-container
      [ngTemplateOutlet]="string"
      [ngTemplateOutletContext]="{ stringName: 'B', string: 'B' }"
    ></ng-container>

    <ng-container
      [ngTemplateOutlet]="string"
      [ngTemplateOutletContext]="{ stringName: 'G', string: 'G' }"
    ></ng-container>

    <ng-container
      [ngTemplateOutlet]="string"
      [ngTemplateOutletContext]="{ stringName: 'D', string: 'D' }"
    ></ng-container>

    <ng-container
      [ngTemplateOutlet]="string"
      [ngTemplateOutletContext]="{ stringName: 'A', string: 'A' }"
    ></ng-container>

    <ng-container
      [ngTemplateOutlet]="string"
      [ngTemplateOutletContext]="{ stringName: 'E', string: 'E' }"
    ></ng-container>
  </div>

  <div class="fretboard"
       [class.fretboard__leftHanded]="orientation === Orientations.left"
       [class.fretboard__24]="fretMode === FretModes.twentyFour">
    <ng-container
      [ngTemplateOutlet]="fretboardHelp"
    ></ng-container>
  </div>
</div>

<div class="control__panel">
  <div class="control__panel__section" *ngIf="mode | displayScaleDegrees">
    <span class="control__panel__title">Highlight scale degrees</span>
    <app-scale-degrees
      [tonicActive]="highlightedDegrees.has(scaleDegree.tonic)"
      [mediantActive]="highlightedDegrees.has(scaleDegree.mediant)"
      [dominantActive]="highlightedDegrees.has(scaleDegree.dominant)"
      (setTonicHighlight)="toggleHighlight(scaleDegree.tonic)"
      (setMediantHighlight)="toggleHighlight(scaleDegree.mediant)"
      (setDominantHighlight)="toggleHighlight(scaleDegree.dominant)"
    ></app-scale-degrees>
  </div>

  <div class="control__panel__section">
    <span class="control__panel__title control__panel__title--right">Configure fretboard</span>
    <app-fretboard-config
      [fretMode]="fretMode"
      [orientation]="orientation"
      (setFretMode)="setFretMode($event)"
      (setOrientation)="setOrientation($event)"
    ></app-fretboard-config>
  </div>
</div>
