<ng-template #string let-stringName="stringName" let-string="string">
  <ng-container *ngFor="let fret of frets">
    <div
      class="fretboard__cell"
      [class.learn__theme]="configuration === 'learn'"
      [class.fretboard__cell--string]="fret === 0"
      [class.fretboard__cell--selected]="fretMap | getFretFromFretMap: stringName:fret:stringNamesAreCaseSensitive"
      [attr.data-string-name]="fret === 0 ? stringName : null"
      [attr.data-string]="string"
      [attr.data-fret]="fret"
      [attr.data-degree]="(fretMap | getFretFromFretMap: stringName:fret:stringNamesAreCaseSensitive)?.degree"
      [attr.data-display-note]="(fretMap | getFretFromFretMap: stringName:fret:stringNamesAreCaseSensitive)?.displayName"
      [attr.data-mode]="mode"
      (click)="playbackService.playNote(stringName, fret)"
    ></div>
  </ng-container>
</ng-template>

<ng-template #fretboardHelp>
  <ng-container *ngFor="let fret of frets">
    <span class="fretboard__help" [attr.data-fret]="fret"></span>
  </ng-container>
</ng-template>

<div class="fretboard__toggle">
  <button class="fretboard__toggleButton fretboard__toggleButton--left"
          [class.fretboard__toggleButton--active]="fretMode === fretModes.twelve"
          (click)="setFretMode(fretModes.twelve)">12 frets
  </button>
  <button class="fretboard__toggleButton fretboard__toggleButton--middle-left"
          [class.fretboard__toggleButton--active]="fretMode === fretModes.twentyFour"
          (click)="setFretMode(fretModes.twentyFour)">24 frets
  </button>
  <button class="fretboard__toggleButton fretboard__toggleButton--middle-right"
          [class.fretboard__toggleButton--active]="orientation === orientations.left"
          (click)="setOrientation(orientations.left)">
    <span class="toggle__shortLabel">LH</span>
    <span class="toggle__longLabel">Left handed</span>
  </button>
  <button class="fretboard__toggleButton fretboard__toggleButton--right"
          [class.fretboard__toggleButton--active]="orientation === orientations.right"
          (click)="setOrientation(orientations.right)">
    <span class="toggle__shortLabel">RH</span>
    <span class="toggle__longLabel">Right handed</span>
  </button>
</div>

<div class="arrowHint">
  <span class="arrowHint__arrow"
        [class.fretboard__flip]="orientation === orientations.left"></span>
</div>

<div class="fretboard__container"
     [class.fretboard__flip]="orientation === orientations.left"
     [class.fretboard__wide]="fretMode === fretModes.twentyFour">


  <div class="fretboard"
       [class.fretboard__leftHanded]="orientation === orientations.left"
       [class.fretboard__24]="fretMode === fretModes.twentyFour">

    <ng-container
      [ngTemplateOutlet]="string"
      [ngTemplateOutletContext]="{ stringName: 'e', string: 'E' }"
    ></ng-container>

    <ng-container
      [ngTemplateOutlet]="string"
      [ngTemplateOutletContext]="{ stringName: 'B', string: 'B' }"
    ></ng-container>

    <ng-container
      [ngTemplateOutlet]="string"
      [ngTemplateOutletContext]="{ stringName: 'G', string: 'G' }"
    ></ng-container>

    <ng-container
      [ngTemplateOutlet]="string"
      [ngTemplateOutletContext]="{ stringName: 'D', string: 'D' }"
    ></ng-container>

    <ng-container
      [ngTemplateOutlet]="string"
      [ngTemplateOutletContext]="{ stringName: 'A', string: 'A' }"
    ></ng-container>

    <ng-container
      [ngTemplateOutlet]="string"
      [ngTemplateOutletContext]="{ stringName: 'E', string: 'E' }"
    ></ng-container>

  </div>


  <div class="fretboard"
       [class.fretboard__leftHanded]="orientation === orientations.left"
       [class.fretboard__24]="fretMode === fretModes.twentyFour">
    <ng-container
      [ngTemplateOutlet]="fretboardHelp"
    ></ng-container>
  </div>
</div>

<p class="fretonator__playCta">
  <span class="fretonator__playCtaIcon">
    <app-speaker-svg></app-speaker-svg>
  </span>
  Tap notes on the fretboard for sound!
</p>
