@import '../../../../styles/vars';
@import '../../../../styles/mixins';
@import '../../../../styles/typography';

.chipsContainer {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.similarModes {
  background-color: var(--similar-modes-background-color);
  padding: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $screen-med) {
    align-items: flex-start;
  }
}

.similarModes__title {
  @include info_container_title();
}

.similarModes__copy {
  @include font_bodyCopy;
  margin-bottom: 1rem;
  color: var(--foreground-color-base);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.emphasis {
  font-weight: var(--font-weight-bold);
  font-style: italic;
}

.similarModes__cta {
  @include hard_button_base;
  align-self: flex-start;
}
