@import './vars';
@import './functions';

@mixin content_wrapper {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: pxToRem($grid-unit * 3);
  padding-right: pxToRem($grid-unit * 3);
}

@mixin focus_accessible($shadow_color: $focus_box_shadow_color) {
  &:focus {
    outline-width: 0;
    box-shadow: transparentize($shadow_color, 0.1) 0 0 0 0.25rem;
    transition: box-shadow 0.2s ease 0s;
  }
}

@mixin text_link {
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  font-size: inherit;
  color: var(--grey);
  cursor: pointer;
  border-bottom: pxToRem(1) solid var(--grey);
  padding-bottom: pxToRem(1);
  transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out;

  &:focus,
  &:hover,
  &:active {
    color: var(--peach);
    border-color: var(--peach);
  }
}

@mixin divider {
  border-width: pxToRem(2);
  border-color: var(--peach);
  border-style: solid;
  margin-top: pxToRem($grid-unit * 4);
  margin-bottom: pxToRem($grid-unit * 4);
}

@mixin chip_button_base {
  appearance: none;
  border-width: var(--border-width-button);
  border-style: solid;
  border-color: var(--chip-border-color);
  background-color: var(--chip-background-color);
  border-radius: var(--border-radius-chip);
  padding: pxToRem(4) pxToRem(8);
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  font-size: pxToRem(14);
  text-decoration: none;
  color: var(--chip-foreground-color);

  @include focus_accessible();
}

@mixin hard_button_base(
    $foregroundColor: var(--offwhite),
    $backgroundColor: var(--black)) {
  border-radius: var(--border-radius-button);
  border: pxToRem(2) solid $foregroundColor;
  text-transform: uppercase;
  font-family: var(--font-family-main);
  font-size: pxToRem(18);
  display: inline-block;
  background-color: $backgroundColor;
  padding: pxToRem($grid-unit) pxToRem($grid-unit * 2);
  color: $foregroundColor;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-display);
  margin-top: pxToRem($grid-unit * 3);
  box-shadow: 8px 8px 0 0 $foregroundColor;

  @include focus_accessible();

  &:hover {
    border-color: var(--yellow);
    color: var(--yellow);
  }
}

@mixin button_base {
  border-width: var(--border-width-button);
  border-style: solid;
  border-color: var(--black);
  background-color: var(--black);
  border-radius: var(--border-radius-button);
  padding: pxToRem($grid-unit * 2) pxToRem($grid-unit * 4);
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  font-size: pxToRem(20);
  text-decoration: none;
  color: var(--offwhite);
  text-transform: uppercase;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  text-align: center;

  &:hover {
    background-color: var(--grey);
    border-color: var(--grey);
  }

  @include focus_accessible();
}
