@import './vars';

@mixin content_wrapper {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@mixin focus_accessible($shadow_color: var(--focus-box-shadow-color)) {
  &:focus {
    outline-width: 0;
    box-shadow: $shadow_color 0 0 0 0.25rem;
    transition: box-shadow 0.2s ease 0s;
  }
}

@mixin text_link {
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
  font-size: inherit;
  color: var(--text-link-color);
  cursor: pointer;
  text-underline-offset: 0.25rem;
  transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out;

  &:focus,
  &:hover,
  &:active {
    color: var(--text-link-hover-color);
  }
}

@mixin divider($color: var(--peach)) {
  border-width: 0.125rem;
  border-color: $color;
  border-style: solid;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
}

@mixin chips_group {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.75rem;

  @media screen and (min-width: 400px) {
    justify-content: center;
  }
}

@mixin chip_button_base {
  appearance: none;
  border-width: var(--border-width-button);
  border-style: solid;
  border-color: var(--chip-border-color);
  background-color: var(--chip-background-color);
  border-radius: var(--border-radius-chip);
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  font-size: 1rem;
  text-decoration: none;
  color: var(--chip-foreground-color);

  @include focus_accessible();
}

@mixin chip_tag(
  $bgColor: var(--background-color-base),
  $fgColor: var(--foreground-color-base)
) {
  border-width: var(--border-width-button);
  border-style: solid;
  border-color: $fgColor;
  background-color: $bgColor;
  color: $fgColor;
  padding: 0.25rem 0.5rem;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  font-size: 0.875rem;
  text-decoration: none;
  border-radius: var(--border-radius-chip);
}

@mixin hard_box_shadow($color: var(--black), $size: 0.5rem) {
  box-shadow: $size $size 0 0 $color;
}

@mixin hard_button_base(
  $foregroundColor: var(--offwhite),
  $backgroundColor: var(--black),
  $hoverColor: var(--yellow)
) {
  border-radius: var(--border-radius-button);
  border: 0.125rem solid $foregroundColor;
  text-transform: uppercase;
  font-family: var(--font-family-main);
  font-size: 1rem;
  display: inline-block;
  background-color: $backgroundColor;
  padding: 1rem;
  color: $foregroundColor;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-display);
  margin-top: 1.5rem;

  @include hard_box_shadow($foregroundColor, 8px);

  @include focus_accessible();

  &:hover {
    border-color: $hoverColor;
    color: $hoverColor;
  }
}

@mixin button_base {
  border-width: var(--border-width-button);
  border-style: solid;
  border-color: var(--black);
  background-color: var(--black);
  border-radius: var(--border-radius-button);
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--offwhite);
  text-transform: uppercase;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  text-align: center;

  &:hover {
    background-color: var(--grey);
    border-color: var(--grey);
  }

  @include focus_accessible();
}

@mixin card {
  background-color: var(--card-background-color);
  padding: 1rem;
  border: 0.125rem solid var(--card-border-color);
  text-decoration: none;
  color: var(--foreground-color-base);
  @include hard_box_shadow(var(--card-box-shadow-color));
}
