@import './vars';
@import './functions';

@mixin content_wrapper {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: pxToRem($grid-unit * 3);
  padding-right: pxToRem($grid-unit * 3);
}

@mixin focus_accessible($shadow_color: $focus_box_shadow_color) {
  &:focus {
    outline-width: 0;
    box-shadow: transparentize($shadow_color, 0.1) 0 0 0 0.25rem;
    transition: box-shadow 0.2s ease 0s;
  }
}

