@import './vars';
@import './functions';

@mixin font_large {
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-display);
  text-transform: uppercase;
  font-size: pxToRem(28);
  line-height: pxToRem(36);

  @media screen and (min-width: $screen-med) {
    font-size: pxToRem(36);
    line-height: pxToRem(44);
  }
}

@mixin font_medium {
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-normal);
  font-size: pxToRem(24);
  line-height: pxToRem(40);
  text-transform: uppercase;
}

@mixin font_bodyCopy {
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-normal);
  font-size: pxToRem(18);
  line-height: pxToRem(30);
}

@mixin info_container_title {
  font-family: var(--font-family-main);
  letter-spacing: var(--letter-spacing-display);
  font-size: pxToRem(14);
  text-transform: uppercase;
  margin-bottom: pxToRem($grid-unit * 2);
  display: flex;
  flex-direction: column;
  color: var(--foreground-color-base);
}

@mixin fretonator_section_title {
  @include font_medium;
  font-size: pxToRem(16);
  font-weight: var(--font-weight-bold);
  margin-top: pxToRem($grid-unit * 1);
  margin-bottom: pxToRem($grid-unit * 1);
  color: var(--foreground-color-base);
}

