$grid-unit: 8 !default;

$screen-sm: 600px !default;
$screen-med: 768px !default;

$max-width: 1268px !default;

$learn_content_width: 1140px;

$focus_box_shadow_color: #fecdaa !default; //var(--peach)
$focus_box_shadow_color_alt: #474350 !default;

$fretonator_max_width: 980px !default;
$fretonator_max_width-wide: 1400px !default;
$mode_selector_max_width: 800px !default;

$infoContainer_info_row_height: 4rem;

$hamburger_padding-x: 16px;
$hamburger_padding-y: 24px;
$hamburger_layer-width: 32px;
$hamburger_layer-height: 3px;
$hamburger_layer-spacing: 6px;
$hamburger_layer-border-radius: 2px;
$hamburger_hover-opacity: 0.9;
$hamburger_active-hover-opacity: $hamburger_hover-opacity;
