@import './vars';
@import './mixins';
@import './typography';

$top_block_max_width: $screen-med;

@mixin content_container {
  @include content_wrapper();
  max-width: $screen-med;
  margin-top: 2rem;
}

@mixin content_title {
  @include font_large();
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: $top_block_max_width;
  color: var(--foreground-color-base);
}

@mixin content_subtitle {
  @include font_medium;
  font-weight: var(--font-weight-bold);
  color: var(--foreground-color-base);
}

@mixin content_intro_copy {
  @include font_bodyCopy();
  margin-bottom: 2rem;
  max-width: $top_block_max_width;
  color: var(--foreground-color-base);
}

@mixin content_copy {
  @include font_bodyCopy();
  margin-bottom: 1rem;
  color: var(--foreground-color-base);
}

@mixin content_ordered_list {
  @include font_bodyCopy();
  padding: 1.5rem;
  color: var(--foreground-color-base);
}
