@import './vars';
@import './mixins';
@import './typography';

$top_block_max_width: $screen-med;


@mixin content_container {
  @include content_wrapper();
}

@mixin content_title {
  @include font_large();
  margin-bottom: pxToRem($grid-unit * 4);
  margin-top: pxToRem($grid-unit * 4);
  max-width: $top_block_max_width;
}

@mixin content_subtitle {
  @include font_medium;
}

@mixin content_intro_copy {
  @include font_bodyCopy();
  margin-bottom: pxToRem($grid-unit * 4);
  max-width: $top_block_max_width;
}
