@import "../../../../styles/vars";
@import "../../../../styles/functions";
@import "../../../../styles/typography";

.intervalMap {
  display: flex;
  flex-direction: column;
  order: 3;
  align-items: center;
  margin-top: pxToRem($grid-unit * 8);
  margin-bottom: pxToRem($grid-unit * 4);

  @media screen and (min-width: $screen-med) {
    align-items: flex-start;
    margin-top: 0;
  }
}

.intervalMap__title {
  @include info_container_title;
}

.intervalMap__intervals {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.intervalMap__interval,
.intervalMap__separator {
  font-size: pxToRem(16);
  font-family: var(--font-family-main);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  margin-right: pxToRem($grid-unit);
  margin-bottom: pxToRem($grid-unit);
  font-weight: var(--font-weight-bold);
}

.intervalMap__separator {
  font-weight: var(--font-weight-normal);
}
