@import '../../../../styles/vars';
@import '../../../../styles/functions';
@import '../../../../styles/mixins';
@import '../../../../styles/typography';

.notFound__container {
  @include content_wrapper();
}

.notFound__title {
  @include font_large();
  margin-top: pxToRem($grid-unit * 8);
  margin-bottom: pxToRem($grid-unit * 2);
}

.notFound__subtitle {
  @include font_medium();
  margin-top: pxToRem($grid-unit * 2);
  margin-bottom: pxToRem($grid-unit * 2);
}
