<header class="header">
  <span class="header__focusEl" appFocusOnRouter tabindex="-1"></span>
  <a
    [routerLink]="['/']"
    class="header__siteLogo"
    aria-label="Navigate to home"
  >
    <app-logo-with-text></app-logo-with-text>
  </a>

  <button class="hamburger"
          [class.is__open]="isMenuVisible"
          (click)="toggleMenu()"
          [attr.aria-checked]="isMenuVisible"
          aria-label="Menu Toggle"
          aria-controls="headerLinks"
          role="switch"
          type="button">
    <span class="hamburger__box">
      <span class="hamburger__inner"></span>
    </span>
  </button>

  <ul class="header__links"
      id="headerLinks"
      [attr.aria-expanded]="isMenuVisible"
      [class.header__links--hide]="!isMenuVisible">
    <li class="header__linksItem">
      <a [routerLink]="['/']"
         [routerLinkActiveOptions]="{exact:true}"
         routerLinkActive="header__linksItemLink--active"
         class="header__linksItemLink"
      >Home</a
      >
    </li>
    <li class="header__linksItem">
      <a [routerLink]="['/', 'about']"
         routerLinkActive="header__linksItemLink--active"
         class="header__linksItemLink"
      >What is this?</a
      >
    </li>
  </ul>
</header>
