<header class="header">
  <div class="header__topRow">
    <button class="hamburger"
            [class.is__open]="isMenuVisible"
            (click)="toggleMenu()"
            [attr.aria-expanded]="isMenuVisible"
            aria-label="Menu Toggle"
            aria-controls="headerLinks"
            type="button">
    <span class="hamburger__box">
      <span class="hamburger__inner"></span>
    </span>
    </button>

    <a
      [routerLink]="['/']"
      class="header__siteLogo"
      aria-label="Navigate to home"
    >
      <span class="header__siteLogo__text">
        <app-logo-with-text></app-logo-with-text>
      </span>
      <span class="header__siteLogo__noText">
        <app-logo-no-text></app-logo-no-text>
      </span>
    </a>

  </div>

  <ul class="header__links"
      id="headerLinks"
      [attr.aria-expanded]="isMenuVisible"
      [class.header__links--hide]="!isMenuVisible">
    <li class="header__linksItem">
      <a [routerLink]="['/']"
         [routerLinkActiveOptions]="{exact:true}"
         routerLinkActive="header__linksItemLink--active"
         class="header__linksItemLink"
      >Home</a
      >
    </li>
    <li class="header__linksItem">
      <a [routerLink]="['/', 'about']"
         routerLinkActive="header__linksItemLink--active"
         class="header__linksItemLink"
      >About</a
      >
    </li>
    <li class="header__linksItem">
      <a [routerLink]="['/', 'contact']"
         routerLinkActive="header__linksItemLink--active"
         class="header__linksItemLink"
      >Contact</a
      >
    </li>
    <li class="header__linksItem">
      <a href="https://www.buymeacoffee.com/fretonator"
         rel="nofollow noopener noreferrer"
         class="header__linksItemLink"
         target="_blank">Donate</a>
    </li>
  </ul>
</header>
