<header class="header">
  <div class="header__topRow">
    <button
      class="hamburger"
      [class.is__open]="isMenuVisible"
      (click)="toggleMenu()"
      [attr.aria-expanded]="isMenuVisible"
      aria-label="Menu Toggle"
      aria-controls="headerLinks"
      type="button"
    >
      <span class="hamburger__box">
        <span class="hamburger__inner"></span>
      </span>
    </button>

    <a
      [routerLink]="['/']"
      class="header__siteLogo"
      aria-label="Navigate to home"
    >
      <span class="header__siteLogo__text">
        <app-logo-with-text></app-logo-with-text>
      </span>

      <span class="header__siteLogo__noText">
        <app-logo-no-text></app-logo-no-text>
      </span>
    </a>

    <div class="toggle__container">
      <button
        class="theme__toggle"
        [class.isDark]="darkColorMode"
        [class.isLight]="!darkColorMode"
        aria-label="Toggle dark/light mode"
        (click)="toggleTheme()"
      >
        <app-moon-svg *ngIf="darkColorMode"></app-moon-svg>

        <app-sun-svg *ngIf="!darkColorMode"></app-sun-svg>
      </button>
    </div>
  </div>

  <ul
    class="header__links"
    id="headerLinks"
    [attr.aria-expanded]="isMenuVisible"
    [class.header__links--hide]="!isMenuVisible"
  >
    <li class="header__linksItem">
      <a
        [routerLink]="['/']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="header__linksItemLink--active"
        class="header__linksItemLink"
      >
        Home
      </a>
    </li>

    <li class="header__linksItem">
      <a
        [routerLink]="['/', 'learn']"
        routerLinkActive="header__linksItemLink--active"
        class="header__linksItemLink"
      >
        Learn
      </a>
    </li>
  </ul>
</header>
