@import '../../../../styles/vars';
@import '../../../../styles/functions';
@import '../../../../styles/mixins';
@import '../../../../styles/typography';

.notFound__container {
  background-color: var(--black);
}

.notFound__inner {
  @include content_wrapper();
  margin-top: 0;
  margin-bottom: 0;
  padding-top: pxToRem($grid-unit * 4);
  padding-bottom: pxToRem($grid-unit * 4);
  text-align: center;
  max-width: pxToRem(600);
}

.notFound__title {
  @include font_large();
  color: var(--offwhite);
  text-align: center;
  //margin-top: pxToRem($grid-unit * 8);
  //margin-bottom: pxToRem($grid-unit * 2);
}

.notFound__subtitle {
  @include font_medium();
  color: var(--offwhite);
  text-transform: none;
  margin-top: pxToRem($grid-unit * 2);
  margin-bottom: pxToRem($grid-unit * 2);
}

.notFound__logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: pxToRem(400);
  width: pxToRem(400);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
