@import '../../../../styles/vars';
@import '../../../../styles/mixins';
@import '../../../../styles/typography';

.notFound__container {
  background-color: var(--black);
}

.notFound__inner {
  @include content_wrapper();
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  max-width: 37.5rem;
}

.notFound__title {
  @include font_large;
  color: var(--offwhite);
  text-align: center;
}

.notFound__subtitle {
  @include font_large;
  color: var(--offwhite);
  text-transform: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.notFound__logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  width: 25rem;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  color: var(--offwhite);
}
