@import '../../../../styles/vars';
@import '../../../../styles/mixins';
@import '../../../../styles/typography';

.degreesDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  @media screen and (min-width: $screen-med) {
    justify-content: flex-start;
    height: 2.875rem;
  }
}

.degreesDisplay__degree {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  background-color: var(--note-background);
  color: var(--note-color);
  border-width: 0;

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    margin-left: 0;
  }
}

.degreesDisplay__degree--tonic {
  background-color: var(--note-bg-tonic);
  color: var(--note-color-tonic);
}

.degreesDisplay__degree--mediant {
  background-color: var(--note-bg-mediant);
  color: var(--note-color-mediant);
}

.degreesDisplay__degree--dominant {
  background-color: var(--note-bg-dominant);
  color: var(--note-color-dominant);
}
