<div class="degreesDisplay">
  <button
    (click)="clickTonic()"
    aria-label="Highlight tonic notes on the fretboard"
    class="degreesDisplay__degree tonic"
    [class.degreesDisplay__degree--tonic]="tonicActive">1</button>
  <button
    (click)="clickMediant()"
    aria-label="Highlight mediant notes on the fretboard"
    class="degreesDisplay__degree mediant"
    [class.degreesDisplay__degree--mediant]="mediantActive"
  >3</button
  >
  <button
    (click)="clickDominant()"
    aria-label="Highlight dominant notes on the fretboard"
    class="degreesDisplay__degree dominant"
    [class.degreesDisplay__degree--dominant]="dominantActive"
  >5</button>
</div>
