<div class="fretboard__toggle">
  <button class="fretboard__toggleButton fretboard__toggleButton--left"
          [class.fretboard__toggleButton--active]="fretMode === fretModes.twelve"
          (click)="setFretModeClick(fretModes.twelve)">12 frets
  </button>
  <button class="fretboard__toggleButton fretboard__toggleButton--middle-left"
          [class.fretboard__toggleButton--active]="fretMode === fretModes.twentyFour"
          (click)="setFretModeClick(fretModes.twentyFour)">24 frets
  </button>
  <button class="fretboard__toggleButton fretboard__toggleButton--middle-right"
          [class.fretboard__toggleButton--active]="orientation === orientations.left"
          (click)="setOrientationClick(orientations.left)">
    <span class="toggle__shortLabel">LH</span>
    <span class="toggle__longLabel">Left handed</span>
  </button>
  <button class="fretboard__toggleButton fretboard__toggleButton--right"
          [class.fretboard__toggleButton--active]="orientation === orientations.right"
          (click)="setOrientationClick(orientations.right)">
    <span class="toggle__shortLabel">RH</span>
    <span class="toggle__longLabel">Right handed</span>
  </button>
</div>
