@import "../../../../styles/vars";
@import "../../../../styles/functions";
@import "../../../../styles/mixins";
@import "../../../../styles/typography";

.configure__controls {
  display: flex;
  flex-direction: column;
}

.button__group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: pxToRem($grid-unit * 2);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.fretboard__toggleButton {
  @include chip_button_base();
  border-color: var(--fretboard-toggle-button-border-color);
  border-radius: 0;
  padding: pxToRem($grid-unit * 1.5);
}

.fretboard__toggleButton--active {
  background-color: var(--chip-background-color-active);
  color: var(--chip-foreground-color-active);
}

.fretboard__toggleButton:first-of-type {
  border-top-left-radius: var(--border-radius-chip);
  border-bottom-left-radius: var(--border-radius-chip);
  border-right-width: calc(var(--border-width-button) / 2);
}

.fretboard__toggleButton:last-of-type {
  border-top-right-radius: var(--border-radius-chip);
  border-bottom-right-radius: var(--border-radius-chip);
  border-left-width: calc(var(--border-width-button) / 2);
}
