$grid-unit: 8 !default;

$screen-sm: 600px !default;
$screen-med: 768px !default;

$max-width: 1268px !default;

$focus_box_shadow_color: #fecdaa !default; //var(--peach)
$focus_box_shadow_color_alt: #474350 !default;

$fretonator_max_width: 980px !default;
$mode_selector_max_width: 800px !default;
