@import '../../../styles/functions';
@import '../../../styles/mixins';

.fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.chips {
  padding-top: pxToRem($grid-unit);
  padding-bottom: pxToRem($grid-unit);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: pxToRem($grid-unit * -1);
}
