@import '../../../styles/functions';
@import '../../../styles/mixins';

.chips {
  padding-top: pxToRem($grid-unit);
  padding-bottom: pxToRem($grid-unit);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: pxToRem($grid-unit * -1);

  @media screen and (min-width: 400px) {
    justify-content: center;
  }
}
