@import '../../../styles/vars';
@import '../../../styles/functions';

.stripeBanner {
  display: block;
  width: 100%;
  position: relative;
  height: pxToRem($grid-unit);
  background-color: var(--stripe-banner-background);
}
