@import '../../../../styles/vars';
@import '../../../../styles/mixins';
@import '../../../../styles/typography';

.modeSelector__container {
  @include content_wrapper;
  max-width: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.modeSelector__chipsContainer {
  margin-bottom: 2rem;
  max-width: $mode_selector_max_width;
  margin-left: auto;
  margin-right: auto;
}

.modeSelector__label {
  @include fretonator_section_title;
  text-align: center;
}

.modeSelector__randomizeContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  max-width: $mode_selector_max_width;
  margin-left: auto;
  margin-right: auto;
}

.modeSelector__button {
  @include fretonator_section_title;
  @include chip_button_base;
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0 25px;
  border-color: var(--fretboard-toggle-button-border-color);
}

.modeSelector__button:hover {
  background-color: var(--chip-background-color-active);
  color: var(--chip-foreground-color-active);
  border-color: var(--chip-border-color-active);
}
