@import '../../../../styles/vars';
@import '../../../../styles/mixins';
@import '../../../../styles/functions';
@import '../../../../styles/typography';

.hero {
  background-color: var(--hero-background-color);
  display: block;
  width: 100%;
  padding-top: pxToRem($grid-unit * 4);
  padding-bottom: pxToRem($grid-unit * 4);
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  font-family: var(--font-family-main);
  display: block;
  color: var(--hero-title-color);
  letter-spacing: var(--letter-spacing-display);
  font-size: pxToRem(14);
  text-transform: uppercase;
  margin-bottom: pxToRem($grid-unit * 2);
  text-align: center;
  font-weight: var(--font-weight-bold);
  position: relative;
}

.modeSelector__container {
  @include content_wrapper;
  max-width: none;
  margin-top: pxToRem($grid-unit * 4);
  margin-bottom: pxToRem($grid-unit * 4);
}

.modeSelector__chipsContainer {
  margin-bottom: pxToRem($grid-unit * 4);
  max-width: $mode_selector_max_width;
  margin-left: auto;
  margin-right: auto;
}

.modeSelector__label {
  @include fretonator_section_title;
  text-align: center;
}

.modeSelector__randomizeContainer {
  display: flex;
  justify-content: center;
  margin-bottom: pxToRem($grid-unit * 4);
  max-width: $mode_selector_max_width;
  margin-left: auto;
  margin-right: auto;
}

.modeSelector__button {
  @include fretonator_section_title;
  @include chip_button_base;
  text-align: center;
  margin-left: pxToRem($grid-unit);
  margin-right: pxToRem($grid-unit);
  margin-bottom: pxToRem($grid-unit);
  padding: 0 25px;
  border-color: var(--fretboard-toggle-button-border-color);
}

.modeSelector__button:hover {
  background-color: var(--chip-background-color-active);
  color: var(--chip-foreground-color-active);
  border-color: var(--chip-border-color-active);
}
