<app-stripe-banner></app-stripe-banner>

<div class="learn__container">

  <h1 class="learn__title">Learn</h1>
  <p class="learn__introCopy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua.</p>

  <hr class="learn__divider" />

  <div class="learn__item">
    <div class="learn__imageContainer">
      <img src="https://via.placeholder.com/200x200" class="learn__image" alt="Patterns"/>
    </div>
    <div class="learn__info">
      <h2 class="learn__itemTitle">Patterns</h2>
      <p class="learn__itemExcerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua.</p>
      <a [routerLink]="['/', 'learn', 'patterns']" class="learn__link">Learn patterns</a>
    </div>
  </div>

</div>
