<div class="learn__container">
  <h1 class="learn__title">Learn Guitar Theory</h1>
  <div class="grid">
    <a
      class="grid__item grid__item--link"
      [routerLink]="['/', 'learn', 'patterns']"
      [state]="{ scrollToTop: true }"
      aria-label="Learn patterns"
    >
      <img
        src="/assets/img/3nps.png"
        class="grid__item__image"
        alt="Close up of guitar next and player's hand"
      />
      <h2 class="grid__item__title">Patterns</h2>
      <p class="grid__item__copy">
        There are only 7 patterns you need to learn on the guitar. Once you've
        memorised those patterns, you can play any of the 7 standard modes from
        any starting note, anywhere on the fretboard.
      </p>

      <div class="tagRow">
        <span class="tag">Theory</span>
        <span class="tag">Scales</span>
        <span class="tag">Modes</span>
        <span class="tag">3NPS</span>
      </div>
    </a>
  </div>
</div>
