@import '../../../../styles/vars';
@import '../../../../styles/mixins';
@import '../../../../styles/typography';
@import '../../../../styles/content';

.patterns__container {
  @include content_container;
  margin-bottom: 3rem;
}

.patterns__intro {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.patterns__title {
  @include content_title;
}

.patterns__subtitle {
  @include content_subtitle;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.patterns__smallTitle {
  @include fretonator_section_title;
  text-align: center;
}

.patterns__copy {
  @include content_copy;
}

.emphasis {
  font-weight: var(--font-weight-bold);
  font-style: italic;
}

.chips {
  @include chips_group;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.chip {
  @include chip_button_base;
  display: flex;
  margin: 0.25rem;
}

.chip--active {
  background-color: var(--chip-background-color-active);
  color: var(--chip-foreground-color-active);
  border-color: var(--chip-border-color-active);
}

.fretboard__container {
  margin-bottom: 3rem;
}

.card {
  @include card;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card__title {
  @include fretonator_section_title;
}

.patterns__list {
  @include content_ordered_list;
}

.patterns__listItem {
}

.patterns__list--mnemonic {
  max-width: 320px;
  padding-left: 0;
}

.patterns__listItem--mnemonic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .left {
    font-weight: var(--font-weight-bold);
  }

  .right {
    font-style: italic;
  }
}

.patterns__cta {
  @include hard_button_base(
    var(--card-button-foreground),
    var(--card-button-backgorund),
    var(--card-button-hover)
  );
}
