@import '../../../../styles/vars';
@import '../../../../styles/mixins';
@import '../../../../styles/typography';
@import '../../../../styles/content';


.learn__container {
  @include content_container;
}

.learn__title {
  @include content_title;
}

.learn__subtitle {
  @include fretonator_section_title;
}

.learn__introCopy {
  @include content_intro_copy;
}

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: pxToRem($grid-unit * 3);
  justify-items: stretch;
  align-items: stretch;
  justify-content: center;
  align-content: stretch;
  margin-top: pxToRem($grid-unit * 8);
  margin-bottom: pxToRem($grid-unit * 8);
}

.grid__item {
  @include card;
}

.grid__item--link {
  cursor: pointer;
  transition: transform 0.2s;

  &:hover,
  &:active {
    transform: scale(1.03);
  }
}

.grid__item__title {
  @include fretonator_section_title;
}

.grid__item__image {
  width: 100%;
  border: pxToRem(2) solid var(--black);
}

.grid__item__copy {
  @include font_bodyCopy;
  margin-bottom: pxToRem($grid-unit);
}

.grid__item__button {
  @include hard_button_base(
      var(--black),
      var(--offwhite),
      var(--purple)
  );
}

.tagRow {
  display: flex;
  flex-direction: row;
  margin-top: pxToRem($grid-unit * 4);
}

.tag {
  @include chip_tag;
  margin-right: pxToRem($grid-unit);
}

