<div class="about__banner"
     role="presentation"
     aria-hidden="true">
  <div class="about__bannerSegment grey"></div>
  <div class="about__bannerSegment purple"></div>
  <div class="about__bannerSegment peach"></div>
  <div class="about__bannerSegment yellow"></div>
  <div class="about__bannerSegment turquoise"></div>
  <div class="about__bannerSegment blue"></div>
</div>
<main class="about__container">
  <p class="about__title">Hi there! 👋🏼</p>
  <h1 class="about__subtitle">Thanks for checking out the Fretonator!</h1>
  <p class="about__copy">I’m a qualified music teacher that (somehow) ended up working as a lead software engineer (it’s
    a long story), and I built this for my husband ❤️.
  </p>
  <p class="about__copy">He’s a phenomenal guitarist, and over the past few years has worked on learning modes and scale
    theory for the guitar (with a little help from me). Obviously, the internet is great for this kind of stuff, but
    what he felt the world wide web was lacking was an interactive and informative tool to could use in his practice
    sessions that had <span class="italic">everything he needed on one single page</span>.
  </p>
  <p class="about__subtitle">Enter the Fretonator!
  </p>
  <p class="about__copy">The Fretonator is your new interactive tool for learning common modes on the guitar,
    understanding the chord theory behind the modes, and most importantly - <span class="italic">having a jam</span>.
  </p>
  <p class="about__copy">The code for the Fretonator is available to <a
    href="https://github.com/ishythefishy/fretonator"
    rel="nofollow noopener noreferrer"
    target="_blank" class="link">view on GitHub</a> and I am gratefully welcoming
    feedback from musicians, pull requests from software engineers, and anything else you are willing to contribute.
  </p>
  <p class="about__copy">Thank you and happy jamming! 🎸
  </p>
  <p class="about__signOff">Salma</p>
  <p class="about__copy">p.s. The Fretonator is free and always will be! 🙌🏼
  </p>
</main>

