@import '../../../../styles/vars';
@import '../../../../styles/mixins';
@import '../../../../styles/typography';

.about__container {
  @include content_wrapper();
  max-width: $screen-med;
}

.about__subtitle {
  @include font_medium;
  text-transform: none;
  font-weight: var(--font-weight-bold);
}

.about__title {
  @include font_large;
  margin-top: pxToRem($grid-unit * 4);
  margin-bottom: pxToRem($grid-unit * 2);
}

.about__copy {
  @include font_bodyCopy;
  margin-top: pxToRem($grid-unit * 4);
  margin-bottom: pxToRem($grid-unit * 4);
}

.about__signOff {
  @include font_bodyCopy;
  font-style: italic;
  font-weight: var(--font-weight-bold);
}

.italic {
  font-style: italic;
}

.link {
  @include text_link();
}

.about__banner {
  display: block;
  width: 100%;
}

.about__bannerSegment {
  position: relative;
  height: pxToRem($grid-unit * 2);

  &.grey {
    background-color: var(--grey);
  }

  &.peach {
    background-color: var(--peach);
  }

  &.yellow {
    background-color: var(--yellow);
  }

  &.purple {
    background-color: var(--purple);
  }

  &.blue {
    background-color: var(--blue);
  }

  &.turquoise {
    background-color: var(--turquoise);
  }
}
