@import '../../../../styles/vars';
@import '../../../../styles/mixins';
@import '../../../../styles/typography';
@import '../../../../styles/content';

.about__container {
  @include content_container;
  max-width: $screen-med;
}

.about__subtitle {
  @include content_subtitle;
}

.about__title {
  @include content_title;
  margin-top: pxToRem($grid-unit * 4);
  margin-bottom: pxToRem($grid-unit * 2);
}

.about__copy {
  @include content_copy;
  margin-top: pxToRem($grid-unit * 4);
  margin-bottom: pxToRem($grid-unit * 4);
}

.about__signOff {
  @include content_copy;
  font-style: italic;
  font-weight: var(--font-weight-bold);
}

.italic {
  font-style: italic;
}

.link {
  @include text_link();
}
