<div class="success__container" #scrollTarget>
  <h1 class="success__title">You are amazing! <span role="img" aria-label="raising hands emoji">🙌🏼️</span></h1>
  <p class="success__copy">I can't thank you enough for your feedback. I will endeavour to reply to all messages when I
    can.</p>
  <hr class="success__divider"/>
  <h2 class="success__subtitle">Want to get involved?</h2>
  <p class="success__copy">The Fretonator is open source! If you're a developer and you'd like to contribute to the
    Fretonator,
    you can always <a href="https://github.com/ishythefishy/fretonator"
                      rel="nofollow noopener norefferer"
                      target="_blank"
                      class="success__link">fork the
      repository</a>, do your magic, and send over a
    pull request.</p>
  <a [routerLink]="['/']"
     class="success__cta"
     (click)="onClick()">Return to the Fretonator</a>
</div>
