@import '../../../../styles/mixins';
@import '../../../../styles/typography';

.success__container {
  max-width: $screen-med;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--form-container-bg-color);
  padding: pxToRem($grid-unit * 4);

  @media screen and (min-width: $screen-med) {
    padding: pxToRem($grid-unit * 6) pxToRem($grid-unit * 16);
  }
}

.success__title {
  @include font_large;
  color: var(--form-container-color);
  text-align: left;
  margin-top: pxToRem($grid-unit * 3);
  margin-bottom: pxToRem($grid-unit * 3);
}

.success__subtitle {
  @include font_medium;
  color: var(--form-container-color);
  text-align: left;
  margin-top: pxToRem($grid-unit * 2);
  margin-bottom: pxToRem($grid-unit * 2);
}

.success__copy {
  @include font_bodyCopy;
  color: var(--form-container-color);
  text-align: left;
  margin-bottom: pxToRem($grid-unit * 2);
}

.success__link {
  @include text_link;
  color: var(--peach);
}

.success__divider {
  height: pxToRem(4);
  background-color: var(--peach);
  margin-top: pxToRem($grid-unit * 4);
  margin-bottom: pxToRem($grid-unit * 4);
}

.success__cta {
  @include hard_button_base();
  margin-top: pxToRem($grid-unit * 4);
  margin-bottom: pxToRem($grid-unit * 4);
}

