@import '../../../../styles/vars';
@import '../../../../styles/mixins';
@import '../../../../styles/typography';

.about__container {
  @include content_wrapper();
}

.about__title {
  @include font_large();
  margin-top: pxToRem($grid-unit * 4);
  margin-bottom: pxToRem($grid-unit * 2);
}

.about__copy {
  @include font_bodyCopy();
  margin-top: pxToRem($grid-unit * 4);
  margin-bottom: pxToRem($grid-unit * 6);
}
