@import '../../../styles/vars';
@import '../../../styles/typography';

.videoLoader {
  display: block;
  max-width: $screen-med;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

.videoLoader__meta {
  display: block;
  margin-bottom: 2rem;
}

.videoLoader__title {
  @include fretonator_section_title;
  text-align: center;
}

.videoLoader__metaDetail {
  font-size: 1.25rem;
  font-style: italic;
  text-align: center;
  color: var(--foreground-color-base);
}

.videoLoader__video {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  background-color: var(--video-loader-background-color);
  position: relative;
}

.videoLoader__content {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
