<div class="videoLoader">
  <div class="videoLoader__meta">
    <h3 class="videoLoader__title">Have a jam</h3>
    <p class="videoLoader__metaDetail">
      {{jamTrack.title}} by {{jamTrack.creator}}
    </p>
  </div>

  <div class="videoLoader__video">
    <app-video-server *ngIf="!showVideo"
                      [youTubeId]="jamTrack.youTubeId"
                      class="videoLoader__content"></app-video-server>
    <app-video-browser *ngIf="showVideo"
                       [youTubeId]="jamTrack.youTubeId"
                       [title]="jamTrack.title"
                       class="videoLoader__content"></app-video-browser>
  </div>
</div>


