@import '../../../styles/vars';
@import '../../../styles/functions';
@import '../../../styles/typography';

.videoLoader {
  display: block;
  max-width: $screen-med;
  margin-left: auto;
  margin-right: auto;
  padding-top: pxToRem($grid-unit * 4);
  padding-bottom: pxToRem($grid-unit * 4);
}

.videoLoader__meta {
  display: block;
  margin-top: pxToRem($grid-unit * 4);
  margin-bottom: pxToRem($grid-unit * 4);
}

.videoLoader__title {
  @include fretonator_section_title;
  text-align: center;
}

.videoLoader__metaDetail {
  font-size: pxToRem(20);
  font-style: italic;
  text-align: center;
}

.videoLoader__video {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: percentage(9/16);
  overflow: hidden;
  background-color: var(--purple);
  position: relative;
}

.videoLoader__content {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

