@import '../../../../styles/mixins';

:host {
  margin: 0.25rem;
  display: flex;
}

.chip {
  @include chip_button_base();
}

.chip--muted {
  border-color: var(--chip-border-color-muted);
  color: var(--chip-foreground-color-muted);
  background-color: var(--chip-background-color-muted);
}

.chip--round {
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chip--active {
  background-color: var(--chip-background-color-active);
  color: var(--chip-foreground-color-active);
  border-color: var(--chip-border-color-active);

  &.chip--muted {
    background-color: var(--chip-background-color-muted-active);
    border-color: var(--chip-border-color-muted-active);
    color: var(--chip-foreground-color-muted-active);
  }
}
