@import '../../../../styles/functions';
@import '../../../../styles/mixins';

:host {
  margin: pxToRem($grid-unit / 2);
  display: flex;
}

.chip {
  @include chip_button_base()
}

.chip--grey {
  border-color: var(--grey);
  color: var(--grey);
}

.chip--round {
  height: pxToRem(44);
  width: pxToRem(44);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chip--active {
  background-color: var(--black);
  color: var(--white);

  &.chip--grey {
    background-color: var(--grey);
  }
}
