@import "../../../../styles/vars";
@import "../../../../styles/functions";

.modeSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: pxToRem($grid-unit * 6);
  margin-bottom: pxToRem($grid-unit * 6);
  margin-left: auto;
  margin-right: auto;
  max-width: 620px;
}

.modeSelector__group {
  display: flex;
  flex-direction: column;
}

.modeSelector__label {
  margin-bottom: pxToRem($grid-unit * 2);
  font-size: pxToRem(20);
  letter-spacing: var(--letter-spacing-display);
  color: var(--black);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }
}

.modeSelector__select {
  width: pxToRem($grid-unit * 20);
  height: pxToRem($grid-unit * 5);
  font-size: pxToRem(16);
  color: var(--black);
  font-family: var(--font-family-main);
  background-color: var(--white);

  &:focus,
  &:active {
    outline-width: 2px;
    outline-color: var(--peach);
    outline-style: solid;
  }
}
