<div class="modeSelector">
  <div class="modeSelector__group">
    <label class="modeSelector__label modeSelector__label--left">Key</label>
    <select class="modeSelector__select" [(ngModel)]="note">
      <option value="a_">A&#9837;</option>
      <option value="a">A</option>
      <option value="a#">A#</option>
      <option value="b_">B&#9837;</option>
      <option value="b">B</option>
      <option value="c">C</option>
      <option value="c#">C#</option>
      <option value="d_">D&#9837;</option>
      <option value="d">D</option>
      <option value="d#">D#</option>
      <option value="e_">E&#9837;</option>
      <option value="e">E</option>
      <option value="f">F</option>
      <option value="f#">F#</option>
      <option value="g_">G&#9837;</option>
      <option value="g">G</option>
      <option value="g#">G#</option>
    </select>
  </div>

  <div class="modeSelector__group">
    <label class="modeSelector__label modeSelector__label--right">Mode</label>
    <select class="modeSelector__select" [(ngModel)]="mode">
      <option value="ionian">Ionian (Major)</option>
      <option value="dorian">Dorian</option>
      <option value="phrygian">Phrygian</option>
      <option value="lydian">Lydian</option>
      <option value="mixolydian">Mixolydian</option>
      <option value="aolian">Aolian (Natural minor)</option>
      <option value="locrian">Locrian</option>
      <option value="harmonicMinor">Harmonic minor</option>
    </select>
  </div>
</div>

<app-fretonator [fretMap]="note | symbolToNoteObj | generateFretMap: mode"></app-fretonator>
