@import '../../../../styles/vars';
@import '../../../../styles/mixins';
@import '../../../../styles/functions';
@import '../../../../styles/typography';

.modeSelector__container {
  @include content_wrapper;
  margin-top: pxToRem($grid-unit * 4);
  margin-bottom: pxToRem($grid-unit * 4);
}

.modeSelector__title {
  @include font_large;
  margin-top: pxToRem($grid-unit * 2);
  margin-bottom: pxToRem($grid-unit * 2);
  text-align: center;
  max-width: $screen-sm;
  margin-left: auto;
  margin-right: auto;
}
