@import '../../../../styles/vars';
@import '../../../../styles/mixins';
@import '../../../../styles/functions';
@import '../../../../styles/typography';

.modeSelector__container {
  @include content_wrapper;
  margin-top: pxToRem($grid-unit * 4);
  margin-bottom: pxToRem($grid-unit * 4);
}

.modeSelector__title {
  @include font_large;
  margin-top: pxToRem($grid-unit * 2);
  margin-bottom: pxToRem($grid-unit * 2);
  text-align: center;
  max-width: $screen-sm;
  margin-left: auto;
  margin-right: auto;
}

.modeSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: pxToRem($grid-unit * 6);
  margin-bottom: pxToRem($grid-unit * 6);
  margin-left: auto;
  margin-right: auto;
  max-width: 620px;
}

.modeSelector__group {
  display: flex;
  flex-direction: column;
}

.modeSelector__label {
  margin-bottom: pxToRem($grid-unit * 2);
  font-size: pxToRem(20);
  letter-spacing: var(--letter-spacing-display);
  color: var(--black);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }
}

.modeSelector__select {
  width: pxToRem($grid-unit * 20);
  height: pxToRem($grid-unit * 5);
  font-size: pxToRem(16);
  color: var(--black);
  font-family: var(--font-family-main);
  background-color: var(--white);

  @include focus_accessible(-2px);
}

.modeSelectorChips {
  overflow: hidden;
  position: relative;
  padding-top: pxToRem($grid-unit);
  padding-bottom: pxToRem($grid-unit);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.modeSelectorChips__chip {
  border: 2px solid var(--black);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: var(--white);
  margin: pxToRem($grid-unit / 2);
  border-radius: pxToRem($grid-unit * 2);
  padding: pxToRem(4) pxToRem(8);
  cursor: pointer;

  @include focus_accessible();

  &--selected {
    background-color: var(--black);

    .modeSelectorChips__chipContent {
      color: var(--white);
    }
  }
}

.modeSelectorChips__chip--round {
  height: pxToRem(44);
  width: pxToRem(44);
  border-radius: 50%;
}

.modeSelectorChips__input {
  width: 0;
  height: 0;
  appearance: none;

//todo - enable tab focus styles - can't focus on label?
}

.modeSelectorChips__chipContent {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  font-size: pxToRem(14);
}
