<div class="modeSelectorChips">
  <label for="select_a"
         class="modeSelectorChips__chip modeSelectorChips__chip--round modeSelectorChips__chip--selected"
  ><input class="modeSelectorChips__input" type="radio" id="select_a" value="a">
    <span class="modeSelectorChips__chipContent">A</span>
  </label>
  <label for="select_b"
         class="modeSelectorChips__chip modeSelectorChips__chip--round"
  ><input class="modeSelectorChips__input" type="radio" id="select_b" name="toggle" value="b">
    <span class="modeSelectorChips__chipContent">B</span>
  </label>
  <label for="select_c"
         class="modeSelectorChips__chip modeSelectorChips__chip--round"
  ><input class="modeSelectorChips__input" type="radio" id="select_c" value="c">
    <span class="modeSelectorChips__chipContent">C</span>
  </label>
  <label for="select_d"
         class="modeSelectorChips__chip modeSelectorChips__chip--round"
  ><input class="modeSelectorChips__input" type="radio" id="select_d" value="d">
    <span class="modeSelectorChips__chipContent">D</span>
  </label>
  <label for="select_e"
         class="modeSelectorChips__chip modeSelectorChips__chip--round"
  ><input class="modeSelectorChips__input" type="radio" id="select_e" value="e">
    <span class="modeSelectorChips__chipContent">E</span>
  </label>
  <label for="select_f"
         class="modeSelectorChips__chip modeSelectorChips__chip--round"
  ><input class="modeSelectorChips__input" type="radio" id="select_f" value="f">
    <span class="modeSelectorChips__chipContent">F</span>
  </label>
  <label for="select_g"
         class="modeSelectorChips__chip modeSelectorChips__chip--round"
  ><input class="modeSelectorChips__input" type="radio" id="select_g" value="g">
    <span class="modeSelectorChips__chipContent">G</span>
  </label>
</div>

<div class="modeSelectorChips modeSelectorChips__sub">
  <label for="select_a_"
         class="modeSelectorChips__chip modeSelectorChips__chip--round modeSelectorChips__chip--selected"
  ><input class="modeSelectorChips__input" type="radio" id="select_a_" value="a_">
    <span class="modeSelectorChips__chipContent">A♭</span>
  </label>
  <label for="select_a_sub"
         class="modeSelectorChips__chip modeSelectorChips__chip--round"
  ><input class="modeSelectorChips__input" type="radio" id="select_a_sub" value="a">
    <span class="modeSelectorChips__chipContent">A</span>
  </label>
  <label for="select_a#"
         class="modeSelectorChips__chip modeSelectorChips__chip--round"
  ><input class="modeSelectorChips__input" type="radio" id="select_a#" value="a#">
    <span class="modeSelectorChips__chipContent">A#</span>
  </label>
</div>

<div class="modeSelectorChips">
  <ng-container *ngFor="let mode of modeSelectorObjects">
    <label class="modeSelectorChips__chip"
    ><input class="modeSelectorChips__input" type="radio" name="toggle" [value]="mode.name">
      <span class="modeSelectorChips__chipContent">{{mode.displayName}}</span>
    </label>
  </ng-container>
</div>

<main class="modeSelector__container">
  <h1 class="modeSelector__title">Learn modes and scales on the guitar</h1>
  <div class="modeSelector">
    <div class="modeSelector__group">
      <label for="modeSelector-key" class="modeSelector__label modeSelector__label--left">Key</label>
      <select id="modeSelector-key" class="modeSelector__select" [(ngModel)]="note">
        <option value="a_">A&#9837;</option>
        <option value="a">A</option>
        <option value="a#">A#</option>
        <option value="" disabled aria-hidden="true"></option>

        <option value="b_">B&#9837;</option>
        <option value="b">B</option>
        <option value="" disabled aria-hidden="true"></option>

        <option value="c#">C#</option>
        <option value="c">C</option>
        <option value="" disabled aria-hidden="true"></option>

        <option value="d_">D&#9837;</option>
        <option value="d">D</option>
        <option value="d#">D#</option>
        <option value="" disabled aria-hidden="true"></option>

        <option value="e_">E&#9837;</option>
        <option value="e">E</option>
        <option value="" disabled aria-hidden="true"></option>

        <option value="f">F</option>
        <option value="f#">F#</option>
        <option value="" disabled aria-hidden="true"></option>

        <option value="g_">G&#9837;</option>
        <option value="g">G</option>
        <option value="g#">G#</option>

      </select>
    </div>

    <div class="modeSelector__group">
      <label for="modeSelector-mode" class="modeSelector__label modeSelector__label--right">Mode</label>
      <select id="modeSelector-mode" class="modeSelector__select" [(ngModel)]="mode">
        <optgroup label="Modern modes">
          <option value="ionian">Ionian (Major)</option>
          <option value="dorian">Dorian</option>
          <option value="phrygian">Phrygian</option>
          <option value="lydian">Lydian</option>
          <option value="mixolydian">Mixolydian</option>
          <option value="aolian">Aolian (Natural minor)</option>
          <option value="locrian">Locrian</option>
        </optgroup>
        <optgroup label="Other scales">
          <option value="harmonicMinor">Harmonic minor</option>
        </optgroup>
      </select>
    </div>
  </div>

  <app-fretonator [scale]="note | symbolToNoteObj | getScaleFromModeMap: mode"
                  [fretMap]="note | symbolToNoteObj | generateFretMap: mode"></app-fretonator>
  <section>
    <app-video-loader [jamTrack]="note | symbolToNoteObj | getJamTrack: mode"></app-video-loader>
  </section>
</main>
