<main class="modeSelector__container">
<h1 class="modeSelector__title">Learn modes and scales on the guitar</h1>

<app-chips name="key_base" [(ngModel)]="note" (ngModelChange)="resetNoteExtender()">
  <app-chip *ngFor="let thisNote of octave"
            [id]="thisNote"
            [value]="thisNote">{{thisNote | titlecase}}</app-chip>
</app-chips>

<app-chips name="key_extender" [(ngModel)]="noteExtender">
  <app-chip *ngIf="!(note === 'f' || note === 'c')" id="flat" [value]="'_'">{{note | titlecase}}♭</app-chip>
  <app-chip id="natural" value="">{{note | titlecase}}</app-chip>
  <app-chip *ngIf="!(note === 'b' || note === 'e')" id="sharp" [value]="'#'">{{note | titlecase}}#</app-chip>
</app-chips>

<app-chips name="mode" [(ngModel)]="mode">
  <app-chip *ngFor="let thisMode of modeSelectorObjects"
            [id]="thisMode.name"
            [value]="thisMode.name">{{thisMode.displayName}}</app-chip>
</app-chips>


  <app-fretonator [scale]="note | symbolToNoteObj: noteExtender | getScaleFromModeMap: mode"
                  [fretMap]="note | symbolToNoteObj: noteExtender | generateFretMap: mode"></app-fretonator>
  <section *ngIf="note | symbolToNoteObj: noteExtender | getJamTrack: mode">
    <app-video-loader [jamTrack]="note | symbolToNoteObj: noteExtender | getJamTrack: mode"></app-video-loader>
  </section>
</main>
