@import "../../../../styles/vars";
@import "../../../../styles/functions";
@import "../../../../styles/mixins";
@import "../../../../styles/typography";

.scaleMap__row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: pxToRem($grid-unit * 4);

  @media screen and (min-width: $screen-med) {
    flex-direction: row;
    margin-bottom: pxToRem($grid-unit * 8);
  }
}

.scaleMap__degrees {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $screen-med) {
    flex-basis: 30%;
    align-items: flex-end;
  }
}

.scaleMap__title {
  @include info_container_title;
}

.degreesDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.degreesDisplay__degree {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: pxToRem(16);
  height: pxToRem($grid-unit * 4);
  width: pxToRem($grid-unit * 4);
  border-radius: 50%;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  margin-left: pxToRem($grid-unit);
  margin-right: pxToRem($grid-unit);

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    margin-left: 0;
  }
}

.degreesDisplay__degree--tonic {
  background-color: var(--note-bg-tonic);
  color: var(--note-color-tonic);
}

.degreesDisplay__degree--mediant {
  background-color: var(--note-bg-mediant);
  color: var(--note-color-mediant);
}

.degreesDisplay__degree--dominant {
  background-color: var(--note-bg-dominant);
  color: var(--note-color-dominant);
}

.scaleDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: pxToRem($grid-unit * 8);

  @media screen and (min-width: $screen-med) {
    flex-basis: 70%;
    margin-top: 0;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.scaleDisplay__title {
  @include info_container_title;
  flex-direction: row;
}

.scaleDisplay__note {
  display: inline;
  font-size: pxToRem(24);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
}


.button__infoToggle {
  @include chip_button_base();
  border-color: var(--grey);
  color: var(--grey);
  margin-top: pxToRem($grid-unit * 2);
}

.infoBlock {
  background-color: var(--black);
  margin-left: pxToRem($grid-unit * -4);
  margin-right: pxToRem($grid-unit * -4);
  padding: pxToRem($grid-unit * 4);
  margin-bottom: pxToRem($grid-unit * 4);
  display: flex;
  flex-direction: column;
}

.infoBlock__title {
  @include font_medium();
  color: var(--peach);
  padding-bottom: pxToRem($grid-unit * 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.infoBlock__close {
  border-width: 0;
  background-color: transparent;
  height: pxToRem(44);
  width: pxToRem(44);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  svg {
    height: 50%;
    width: 50%;
  }
}

.infoBlock__copy {
  @include font_bodyCopy();
  color: var(--offwhite);
  margin-top: pxToRem($grid-unit * 2);
  margin-bottom: pxToRem($grid-unit * 2);
}

.infoBlock__list {

}

.infoBlock__listItem {
  @include font_bodyCopy();
  color: var(--yellow);
  margin-bottom: pxToRem($grid-unit * 1);
}

.infoHighlight {
  border-radius: var(--border-radius-button);
  padding: pxToRem($grid-unit / 4) pxToRem($grid-unit * 2);
  color: var(--black);
  background-color: var(--peach);
}

.actionButton {
  border-radius: var(--border-radius-button);
  border: pxToRem(2) solid var(--offwhite);
  text-transform: uppercase;
  font-family: var(--font-family-main);
  font-size: pxToRem(18);
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-color: transparent;
  padding: pxToRem($grid-unit) pxToRem($grid-unit * 2);
  color: var(--offwhite);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-display);
  margin-top: pxToRem($grid-unit * 3);

  @include focus_accessible();

  &:hover {
    border-color: var(--yellow);
    color: var(--yellow);
  }
}
