<div class="scaleMap__row">
  <div class="scaleDisplay">
    <h4 class="scaleDisplay__title"
        [class.infoHighlight]="isTheoretical"><span *ngIf="isTheoretical">Theoretical &nbsp;</span>Scale</h4>
    <div class="scaleDisplay__notes">
      <ng-container *ngFor="let note of modeMap; let i = index">
        <h5 class="scaleDisplay__note">
          {{ note.displayName }}
        </h5>
      </ng-container>
    </div>
    <div class="buttonRow">
      <button class="button__playScale"
              aria-label="Play this scale"
              type="button"
              (click)="playScale()">
        <span class="button__playScale__svg">
          <app-play-svg></app-play-svg>
        </span>
        Play scale
      </button>
      <button *ngIf="isTheoretical"
              class="button__infoToggle"
              aria-label="Theoretical Scales Info Toggle"
              type="button"
              (click)="toggleTheoreticalScaleInfo()">{{theoreticalScalesToggleText}}
      </button>
    </div>
  </div>

  <div class="scaleMap__degrees" *ngIf="mode | displayScaleDegrees">
    <h4 class="scaleMap__title">Degrees</h4>
    <div class="degreesDisplay">
      <span class="degreesDisplay__degree degreesDisplay__degree--tonic">1</span>
      <span class="degreesDisplay__degree degreesDisplay__degree--mediant"
      >3</span
      >
      <span class="degreesDisplay__degree degreesDisplay__degree--dominant"
      >5</span>
    </div>
    <button class="button__infoToggle"
            aria-label="Scale Degrees Info Toggle"
            type="button"
            (click)="toggleScaleMapInfo()">{{scaleDegreesToggleText}}
    </button>
  </div>
</div>

<div class="infoBlock"
     [attr.aria-expanded]="showTheoreticalScalesInfo"
     *ngIf="showTheoreticalScalesInfo">
  <h2 class="infoBlock__title">About Theoretical Scales
    <button class="infoBlock__close"
            aria-label="Theoretical Scales Info Close"
            type="button"
            (click)="toggleTheoreticalScaleInfo()">
      <app-cross-svg></app-cross-svg>
    </button>
  </h2>
  <p class="infoBlock__copy">A theoretical scale or <em>impossible key</em> is a key whose key signature has at least
    one double flat (𝄫) or double sharp (x).</p>
  <p class="infoBlock__copy">{{modeDisplayString}} is a theoretical scale and looks unnecessarily complicated. We can
    make things simpler!</p>
  <p class="infoBlock__copy">Switch to the enharmonic equivalent note of {{scale[0] | getEnharmonicEquivalent }} to make
    the notes easier to read. (It'll sound exactly the same!)</p>
  <a class="actionButton"
     (click)="toggleTheoreticalScaleInfo()"
     [routerLink]="note | getEnharmonicRouterLink: noteExtenderString: mode"
  >Switch to {{scale[0] | getEnharmonicEquivalent }}</a>
</div>

<div class="infoBlock"
     [attr.aria-expanded]="showScaleMapInfo"
     *ngIf="showScaleMapInfo">
  <h2 class="infoBlock__title">About Scale Degrees
    <button class="infoBlock__close"
            aria-label="Scale Degrees Info Close"
            type="button"
            (click)="toggleScaleMapInfo()">
      <app-cross-svg></app-cross-svg>
    </button>
  </h2>
  <p class="infoBlock__copy">
    Each of the 7 notes of a mode or scale is called a <em>scale degree</em>, and has a specific name.
  </p>
  <ol class="infoBlock__list">
    <li class="infoBlock__listItem">Tonic</li>
    <li class="infoBlock__listItem">Supertonic</li>
    <li class="infoBlock__listItem">Mediant</li>
    <li class="infoBlock__listItem">Subdominant</li>
    <li class="infoBlock__listItem">Dominant</li>
    <li class="infoBlock__listItem">Submediant</li>
    <li class="infoBlock__listItem">Leading note</li>
  </ol>
  <p class="infoBlock__copy">
    Notes 1, 3 and 5 of a scale make up the <em>tonic triad</em>, which is simply a chord of three notes built on
    the first note of the scale. This is the the most important chord to learn when jamming as it is the <em>home</em>
    chord - meaning it's usually the chord that the jam track starts on and returns to often.
  </p>
  <p class="infoBlock__copy">
    Scale degrees 1, 3, and 5 are highlighted on the fretboard to give you a helpful point of reference when learning
    the mode.
  </p>
</div>
