@import "../../../../styles/vars";
@import "../../../../styles/functions";
@import "../../../../styles/mixins";
@import "../../../../styles/typography";

.scaleMap__row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: pxToRem($grid-unit * 4);

  @media screen and (min-width: $screen-med) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.scaleMap__degrees {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $screen-med) {
    flex-basis: 30%;
    align-items: flex-end;
  }
}

.scaleDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: pxToRem($grid-unit * 4);
  width: 100%;

  @media screen and (min-width: $screen-med) {
    flex-basis: 70%;
    margin-top: 0;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.scaleDisplay__title {
  @include info_container_title;
  flex-direction: row;
}

.scaleDisplay__notes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $infoContainer_info_row_height;
  color: var(--foreground-color-base);
}

.scaleDisplay__note {
  display: inline-block;
  text-align: center;
  font-size: pxToRem(18);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  margin: 0 pxToRem($grid-unit);

  @media screen and (min-width: $screen-sm) {
    font-size: pxToRem(24);
  }

  @media screen and (min-width: $screen-med) {
    &:first-of-type {
      margin-left: 0;
    }
  }
}

.infoHighlight {
  border-radius: var(--border-radius-chip);
  padding: pxToRem($grid-unit / 4) pxToRem(9);
  color: var(--info-highlight-color);
  background-color: var(--info-highlight-background-color);
}
