@import '../../../../styles/vars';
@import '../../../../styles/typography';

.chordMap {
  display: flex;
  flex-direction: column;
  order: 3;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 0;

  @media screen and (min-width: $screen-med) {
    align-items: flex-start;
    margin-top: 0;
  }
}

.chordMap__title {
  @include info_container_title;
}

.chordMap__chords {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.chordMap__chord,
.chordMap__separator {
  font-size: 1rem;
  font-family: var(--font-family-main);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: var(--font-weight-bold);
  color: var(--foreground-color-base);
}
