@import "../../../styles/vars";
@import "../../../styles/functions";
@import "../../../styles/mixins";

.footer {
  background-color: var(--peach);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: pxToRem($grid-unit * 2);
}

.footer__copyright {
  color: var(--black);
  font-size: pxToRem(12);
  letter-spacing: var(--letter-spacing-display);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  display: block;
  margin-bottom: pxToRem($grid-unit * 2);
}

.footer__viewGithub {
  color: var(--black);
  font-size: pxToRem(12);
  display: block;
  margin-bottom: pxToRem($grid-unit * 2);

  @include focus_accessible($focus_box_shadow_color_alt);
}
