@import '../../../styles/vars';
@import '../../../styles/mixins';
@import '../../../styles/typography';

.footer {
  background-color: var(--footer-background);
  box-sizing: border-box;
  padding: 3rem;
  border-top: 0.5rem solid var(--footer-border-color);
}

.footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $screen-med) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

.footer__leftColumn {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer__rightColumn {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer__copy {
  @include font_bodyCopy;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--footer-copy-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-bottom: 1rem;

  @media screen and (min-width: $screen-med) {
    justify-content: flex-start;
  }
}

.footer__copy--link {
  @include text_link();
  color: var(--footer-link-color);
  border-color: var(--footer-link-color);
}

.footer__sectionTitle {
  @include font_medium;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--footer-title-color);
  font-weight: var(--font-weight-bold);
  display: flex;
  text-align: left;
}

.footer__list {
  list-style: none;
  text-align: left;
  padding: 0;
  margin-bottom: 2rem;
}

.footer__listItem {
  @include font_bodyCopy;
  font-size: 1rem;
  line-height: 1.8;
  color: var(--footer-copy-color);
}

.footer__listItemLink {
  @include text_link();
  color: var(--footer-list-link-color);
  border-color: var(--footer-list-link-color);

  @include focus_accessible();
}

.footer__copyright {
  color: var(--footer-copy-color);
  font-size: 0.75rem;
  letter-spacing: var(--letter-spacing-display);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  display: block;
  margin-top: 3rem;
  text-align: center;
}

.footer__bigButton {
  @include hard_button_base();
  display: inline-flex;
  margin-bottom: 3rem;
  align-self: flex-start;
}

.footer__smallButton {
  @include chip_button_base();
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-background);
  margin-top: 2rem;
  padding: 0.25rem 1rem;
  color: var(--footer-small-button-accent-color);
  border-color: var(--footer-small-button-accent-color);

  &:focus {
    border-color: transparent;
  }
}
