@import '../../../styles/vars';
@import '../../../styles/functions';
@import '../../../styles/mixins';
@import '../../../styles/typography';

.footer {
  background-color: var(--black);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: pxToRem($grid-unit * 2);
}

.footer__thanksCopy {
  @include font_bodyCopy();
  color: var(--offwhite);
}

.footer__creditsTitle {
  @include font_medium();
  margin-top: pxToRem($grid-unit);
  margin-bottom: pxToRem($grid-unit);
  color: var(--peach);
  font-weight: var(--font-weight-bold);
}

.footer__creditsList {
  list-style: none;
  text-align: center;
  padding: 0;
  margin-bottom: pxToRem($grid-unit * 4);
}

.footer__creditsListItem {
  @include font_bodyCopy();
  color: var(--offwhite);
}

.footer__creditsListItemLink {
  @include text_link();
  color: var(--yellow);
  border-color: var(--yellow);

  @include focus_accessible();
}

.footer__copyright {
  color: var(--offwhite);
  font-size: pxToRem(12);
  letter-spacing: var(--letter-spacing-display);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  display: block;
  margin-bottom: pxToRem($grid-unit * 2);
}

.footer__viewGithub {
  @include hard_button_base();
  margin-bottom: pxToRem($grid-unit * 2);
}
