@import "../../../styles/vars";
@import "../../../styles/functions";
@import "../../../styles/mixins";

.fretboard__container {
  margin-top: pxToRem($grid-unit * 1);
  max-width: $fretonator_max_width;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0;
  padding-left: pxToRem($grid-unit * 4);
  padding-bottom: pxToRem($grid-unit * 4);
  padding-top: pxToRem($grid-unit * 9);
  overflow-x: auto;
}

.fretboard {
  display: grid;
  grid-template-columns: 32px repeat(12, minmax(50px, 1fr));
}

.fretboard__cell--string {
  &:after {
    content: attr(data-string-name);
    height: var(--note-height);
    width: var(--note-height);
    left: 50%;
    right: unset;
    box-sizing: border-box;
    border-radius: 50%;
    transform: translate(-50%, 50%);
    color: var(--string-color);
    line-height: var(--note-height);
    text-align: center;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-main);
    font-size: pxToRem(16);
  }

  &:nth-child(-n + 13):after {
    transform: translate(0, 20%); //I feel like this is a weird number
  }

  &:nth-last-child(-n + 13):after {
    bottom: 0;
    transform: translate(0, 50%); //also weird
  }

  &.fretboard__cell--selected {
    &:after {
      content: attr(data-display-note);
    }
  }
}

.fretboard__cell {
  position: relative;
  border-right: var(--fret-width-base) solid var(--fret-color);
  height: var(--string-height-base);

  &:before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: calc(var(--fret-width-base) * -1);
    right: calc(var(--fret-width-base) * -1);
    border-bottom: var(--border-width-base) solid var(--string-color);
    border-top: var(--border-width-base) solid var(--string-color);
  }

  &:after {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    transform: translatey(calc(50% - 1px));
  }

  &:nth-child(-n + 13) {
    height: calc(var(--string-height-base) / 2);

    &:before {
      bottom: unset;
      top: 0;
    }
  }

  &:nth-last-child(-n + 13) {
    height: calc(var(--string-height-base) / 2);

    &:before {
      bottom: 0;
    }
  }

  &:nth-child(13n + 1) {
    &:before {
      display: none;
    }
  }

  &[data-string="G"][data-fret="3"],
  &[data-string="G"][data-fret="5"],
  &[data-string="G"][data-fret="7"],
  &[data-string="G"][data-fret="9"],
  &[data-string="B"][data-fret="12"],
  &[data-string="D"][data-fret="12"] {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23dbdae0' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center calc(var(--string-height-base) - 15px);
    background-size: 30px 30px;
  }

  &[data-string="D"][data-fret="3"],
  &[data-string="D"][data-fret="5"],
  &[data-string="D"][data-fret="7"],
  &[data-string="D"][data-fret="9"],
  &[data-string="G"][data-fret="12"],
  &[data-string="A"][data-fret="12"] {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23dbdae0' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center -15px;
    background-size: 30px 30px;
  }
}

.fretboard__cell--selected {
  &:after {
    content: attr(data-display-note);
    height: var(--note-height);
    width: var(--note-height);
    left: 50%;
    right: unset;
    box-sizing: border-box;
    border-radius: 50%;
    transform: translate(-50%, 50%);
    background-color: var(--note-background);
    color: var(--note-color);
    line-height: var(--note-height);
    text-align: center;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-main);
    font-size: pxToRem(12);
  }

  &:nth-child(-n + 13):after {
    transform: translate(-50%, 1px);
  }

  &:nth-last-child(-n + 13):after {
    bottom: 0;
    top: unset;
    transform: translate(-50%, calc(50% - 1px));
  }

  .fretboard__marker {
    text-align: center;
    font-size: 80px;
  }

  &[data-degree="tonic"] {
    &:after {
      background-color: var(--note-bg-tonic);
      color: var(--note-color-tonic);
    }
  }

  &[data-degree="mediant"] {
    &:after {
      background-color: var(--note-bg-mediant);
      color: var(--note-color-mediant);
    }
  }

  &[data-degree="dominant"] {
    &:after {
      background-color: var(--note-bg-dominant);
      color: var(--note-color-dominant);
    }
  }
}


.infoContainer {
  @include content_wrapper();
  max-width: $screen-med;
  margin-top: pxToRem($grid-unit * 4);
  background-color: var(--white);
  padding: pxToRem($grid-unit * 4);
  border-radius: pxToRem($grid-unit * 4);
  box-shadow: 0 pxToRem(1) pxToRem(3) rgba(26, 26, 26, 0.12), 0 pxToRem(1) pxToRem(2) rgba(26, 26, 26, 0.24);

  @media screen and (min-width: $screen-med) {
    margin-top: pxToRem($grid-unit * 8);
  }
}

.infoContainer__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: pxToRem($grid-unit * 4);
  flex-direction: column;

  @media screen and (min-width: $screen-med) {
    flex-direction: row;
  }
}

@mixin info_container_title {
  letter-spacing: var(--letter-spacing-display);
  font-size: pxToRem(14);
  text-transform: uppercase;
  margin-bottom: pxToRem($grid-unit * 2);
  display: flex;
  flex-direction: column;
}

.degrees {
  margin-left: auto;
  margin-right: auto;
  order: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $screen-med) {
    order: 2;
    flex-basis: 50%;
    align-items: flex-end;
  }
}

.degreesDisplay__title {
  @include info_container_title;
}

.degreesDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.degreesDisplay__degree {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: pxToRem(16);
  height: pxToRem($grid-unit * 4);
  width: pxToRem($grid-unit * 4);
  border-radius: 50%;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  margin-left: pxToRem($grid-unit);
  margin-right: pxToRem($grid-unit);

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    margin-left: 0;
  }
}

.degreesDisplay__degree--tonic {
  background-color: var(--note-bg-tonic);
  color: var(--note-color-tonic);
}

.degreesDisplay__degree--mediant {
  background-color: var(--note-bg-mediant);
  color: var(--note-color-mediant);
}

.degreesDisplay__degree--dominant {
  background-color: var(--note-bg-dominant);
  color: var(--note-color-dominant);
}

.scaleDisplay {
  margin-top: pxToRem($grid-unit * 8);
  height: pxToRem($grid-unit * 10);
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $screen-med) {
    order: 1;
    flex-basis: 50%;
    margin-top: 0;
    align-items: flex-start;
  }
}

.scaleDisplay__title {
  @include info_container_title;
}

.scaleDisplay__note {
  display: inline;
  font-size: pxToRem(20);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
}

.arrowHint {
  position: relative;
  display: block;
}

.arrowHint__arrow {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;

  &:before,
  &:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 512 512'%3E%3Cpath fill='%233993dd' d='M319.1 217c20.2 20.2 19.9 53.2-.6 73.7s-53.5 20.8-73.7.6l-190-190c-20.1-20.2-19.8-53.2.7-73.7S109 6.8 129.1 27l190 190z'/%3E%3Cpath fill='%233993dd' d='M319.1 290.5c20.2-20.2 19.9-53.2-.6-73.7s-53.5-20.8-73.7-.6l-190 190c-20.2 20.2-19.9 53.2.6 73.7s53.5 20.8 73.7.6l190-190z'/%3E%3C/svg%3E");
  }

  @media screen and (min-width: 712px) {
    display: none;
  }
}

.intervalDisplay,
.chordMap {
  display: flex;
  flex-direction: column;
  order: 3;
  align-items: center;
  margin-top: pxToRem($grid-unit * 8);
  margin-bottom: pxToRem($grid-unit * 4);

  @media screen and (min-width: $screen-med) {
    align-items: flex-start;
    margin-top: 0;
  }
}

.chordMap {
  margin-bottom: 0;
}

.intervalDisplay__title,
.chordMap__title {
  @include info_container_title;
}

.intervalDisplay__intervals,
.chordMap__chords {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.intervalDisplay__interval,
.intervalDisplay__separator,
.chordMap__chord,
.chordMap__separator {
  font-size: pxToRem(16);
  font-family: var(--font-family-main);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  margin-right: pxToRem($grid-unit);
  margin-bottom: pxToRem($grid-unit);
  font-weight: var(--font-weight-bold);
}

.intervalDisplay__separator {
  font-weight: var(--font-weight-normal);
}
