@import "../../../styles/vars";
@import "../../../styles/functions";
@import "../../../styles/mixins";
@import "../../../styles/typography";

.infoContainer {
  @include content_wrapper();
  max-width: $screen-med;
  margin-top: pxToRem($grid-unit * 2);
  margin-bottom: pxToRem($grid-unit * 8);
  background-color: var(--background-color-light);
  padding: pxToRem($grid-unit * 4);
  border-radius: pxToRem($grid-unit * 4);
  box-shadow: 0 pxToRem(1) pxToRem(3) rgba(26, 26, 26, 0.12), 0 pxToRem(1) pxToRem(2) rgba(26, 26, 26, 0.24);
}

.fretonator__sectionTitle {
  @include fretonator_section_title;
  text-align: center;
}

.cta__row {
  text-align: center;
}

.learnHub__cta {
  @include text_link;
  margin-left: auto;
  margin-right: auto;
  line-height: pxToRem(30);
}
