<ng-template #string let-stringName="stringName" let-string="string">
  <ng-container *ngFor="let fret of frets">
    <div
      class="fretboard__cell"
      [class.fretboard__cell--string]="fret === 0"
      [class.fretboard__cell--selected]="fretMap | getFretFromFretMap: string:fret"
      [attr.data-string-name]="fret === 0 ? stringName : null"
      [attr.data-string]="string"
      [attr.data-fret]="fret"
      [attr.data-degree]="(fretMap | getFretFromFretMap: string : fret)?.degree"
      [attr.data-display-note]="(fretMap | getFretFromFretMap: string : fret)?.displayName"
      [attr.data-mode]="mode"
      (click)="playbackService.playNote(stringName, fret)"
    ></div>
  </ng-container>
</ng-template>

<div class="fretboard__toggle">
  <button class="fretboard__toggleButton fretboard__toggleButton--left"
          [class.fretboard__toggleButton--active]="fretMode === fretModes.twelve"
          (click)="setFretMode(fretModes.twelve)">12 frets
  </button>
  <button class="fretboard__toggleButton fretboard__toggleButton--right"
          [class.fretboard__toggleButton--active]="fretMode === fretModes.twentyFour"
          (click)="setFretMode(fretModes.twentyFour)">24 frets
  </button>
</div>

<div class="arrowHint">
  <span class="arrowHint__arrow"></span>
</div>

<div class="fretboard__container"
     [class.fretboard__wide]="fretMode === fretModes.twentyFour">

  <div class="fretboard"
       [class.fretboard__24]="fretMode === fretModes.twentyFour">
    <ng-container
      [ngTemplateOutlet]="string"
      [ngTemplateOutletContext]="{ stringName: 'e', string: 'E' }"
    ></ng-container>

    <ng-container
      [ngTemplateOutlet]="string"
      [ngTemplateOutletContext]="{ stringName: 'B', string: 'B' }"
    ></ng-container>

    <ng-container
      [ngTemplateOutlet]="string"
      [ngTemplateOutletContext]="{ stringName: 'G', string: 'G' }"
    ></ng-container>

    <ng-container
      [ngTemplateOutlet]="string"
      [ngTemplateOutletContext]="{ stringName: 'D', string: 'D' }"
    ></ng-container>

    <ng-container
      [ngTemplateOutlet]="string"
      [ngTemplateOutletContext]="{ stringName: 'A', string: 'A' }"
    ></ng-container>

    <ng-container
      [ngTemplateOutlet]="string"
      [ngTemplateOutletContext]="{ stringName: 'E', string: 'E' }"
    ></ng-container>
  </div>
</div>

<h4 class="fretonator__playCta">
  <span class="fretonator__playCtaIcon">
    <app-speaker-svg></app-speaker-svg>
  </span>
  Tap notes on the fretboard for sound!
</h4>

<div class="infoContainer">
  <app-scale-map [mode]="mode"
                 [modeMap]="modeMap"
                 [isTheoretical]="modeMap | isTheoreticalScale"
                 [modeDisplayString]="modeDisplayString"
                 [note]="note"
                 [noteExtenderString]="noteExtenderString"></app-scale-map>

  <app-interval-map [intervalMap]="intervalMap"></app-interval-map>

  <app-chord-map [chordMap]="chordMap"></app-chord-map>
</div>
